:root {
  --background-color: #e68e8e;
}

html {
  view-transition-name: none;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.5s;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  overflow-wrap: break-word;

  /*color: white;*/
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.7rem;
  }
}

bgblack {
  background-color: black;
  color: white;
}

semitransparent {
  opacity: 0.5;
}


.semitransparent {
  opacity: 0.5;
}

.me-img {
  z-index: 10;
  width: 350px;
}

@media (max-width: 500px) {
  .me-img {
    display: none;
  }

  #right {
    width: 100% !important;
  }

  #about {
    margin: 1rem;
  }

  p {
    margin-bottom: 3rem;
  }
}


.project-img {
  width: 100%;
  height: 100%;

  transition: 0.3s ease;
}

@media (pointer:fine) {
  .project-img:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
  }
}

.hidden {
  visibility: hidden;
}

top {
  z-index: 1000;
}

.bi-chevron-left,
.bi-chevron-right,
.bi-x {
  transform: scale(2)
}

.wide {
  .project-img {
    transform: scaleY(1.04) translateY(2%);
  }
}
